# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.so

# Virtual environments
venv/
.venv/
env/
.env

# OS
.DS_Store
Thumbs.db
*.swp
*~

# IDE
.vscode/
.idea/
*.iml

# Logs e temporários
*.log
*.tmp
